@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.videoGenerated {
    padding: 90px 0;
    background: #000;

    .title {
        padding: 0 0 60px 0;

        h2 {
            background: var(--Gradient, linear-gradient(90deg, #29A6B4 0%, #9ED2C3 100%));
            background-clip: text;
            -webkit-background-clip: text;
            text-align: center;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            -webkit-text-fill-color: transparent;
        }
    }

    .twobutton {
        display: flex;
        justify-content: center;
        padding: 30px 0;
        gap: 16px;

        .outline {
            color: #29a6b4;
            cursor: pointer;
            border: 1px solid #29a6b4;
            background-color: transparent;
            border-radius: 99px;
            padding: 11px 28px;
            font-size: 14px;
            text-transform: capitalize;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 10px;
            line-height: normal;
            transition: all .3s;

            &:hover {
                color: #fff;
                background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);

                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }

        .fillbutton {
            color: #fff;
            cursor: pointer;
            background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
            border: none;
            border-radius: 99px;
            padding: 11px 28px;
            font-size: 14px;
            font-weight: 600;
            line-height: normal;
            transition: all .3s;
        }
    }

    .videobox {
        max-width: 280px;
        width: 280px;
        margin: 0 auto;
        border-radius: 12px;
        background-color: #5b5e6d26;
        position: relative;

        video {
            border-radius: 12px 12px;
            width: 100%;
            display: block;
        }

        .details {
            padding: 14px 14px 14px 14px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgb(0, 0, 0, 0.5);

            p {
                font-size: 14px;
                color: #fff;
                font-weight: 500;
            }

            span {
                display: block;
                font-size: 12px;
                padding: 6px 0 0 0;
                color: #fff;
                opacity: .5;
            }
        }
    }

    .lightbox {



        .buttonAlignment {
            padding: 10px 16px 10px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .rightAlignment {
                display: flex;
                align-items: center;
                gap: 16px;

                button {
                    color: #29a6b4;
                    cursor: pointer;
                    border: 1px solid #29a6b4;
                    background-color: transparent;
                    border-radius: 99px;
                    padding: 11px 28px;
                    font-size: 14px;
                    text-transform: capitalize;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    line-height: normal;
                    transition: all .3s;

                    &:hover {
                        color: #fff;
                        background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }

            .fillbutton {
                color: #fff;
                cursor: pointer;
                background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
                border: none;
                border-radius: 99px;
                padding: 11px 28px;
                font-size: 14px;
                font-weight: 600;
                line-height: normal;
                transition: all .3s;
            }
        }

        .chatbottombar {
            background-image: linear-gradient(0deg, #0a0a0a 20%, #1a1a1a);
            border-radius: 8px;

            textarea {
                border: none;
                height: 80px;
                border-radius: 8px 8px 0 0;
                resize: none;
                color: #fff;
                font-size: 16px;
                background-color: transparent;
                font-style: normal;
                font-weight: 500;
                resize: none;
                width: 100%;
                line-height: normal;
                padding: 16px;

                &:focus {
                    outline: none;
                }

            }

            ::placeholder {
                color: #fff;
                opacity: .5;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}