@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;

.ugcadsmain {
  padding: 100px 0;

  .title {
    margin-bottom: 60px;
    h2 {
      text-align: center;
      background: var(
        --Gradient,
        linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%)
      );
      -webkit-text-fill-color: #0000;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 62px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }
  }

  .cardflxmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 24px;

    .flexitemsleft {
      width: 344px;
      height: 610px;
      border-radius: 29px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .flexitemscenter {
      width: 406px;
      height: 610px;
      border-radius: 29px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .flexitemsright {
      width: 344px;
      height: 610px;
      border-radius: 29px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
