@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;

.prompttooutputmain {
  padding: 101px 0 70px 0;
  position: sticky;

  .prompttooutputtopflx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 80px;

    h3 {
      font-size: 74px;
      font-weight: 500;
      line-height: 100%;
      text-align: center;
      color: #515151;
    }

    .switchermain {
      width: 143px;
      height: 75px;
      border-radius: 100px;
      overflow: hidden;
      background-color: #f8ff9e;
      padding: 6px;

      .switcher {
        width: 100%;
        height: 100%;
        position: relative;

        .switcherinner {
          position: absolute;
          top: 0;
          left: 0;
          width: 63px;
          height: 63px;
          border-radius: 50%;
          background-color: #000;
        }
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;

    h4 {
      font-size: 54px;
      font-weight: 500;
      line-height: 100%;
      margin-bottom: 30px;
      color: #515151;
    }

    p {
      max-width: 488px;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: #515151;
    }
  }

  .parralaxcards {
    position: sticky;
    top: 305px;

    .innerparralaxcardswrapp {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      max-width: 44vw;
      height: 646px;
      margin: 0 auto;

      .parralaxcardsimg1,
      .parralaxcardsimg2,
      .parralaxcardsimg3,
      .parralaxcardsimg4,
      .parralaxcardsimg5,
      .parralaxcardsimg6,
      .parralaxcardsimg7 {
        span {
          font-size: 16px;
          font-weight: 500;
          line-height: 100%;
          color: #252525;
        }

        .textblock {
          background-color: #aeb4aa;
          border-radius: 10px;
          padding: 8px;

          p {
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            color: #fff;
          }
        }
      }

      .parralaxcardsimg1 {
        grid-area: span 1 / span 4 / span 1 / span 4;
        max-width: 147px;
        position: relative;
        top: 54px;

        .textblock {
          height: 192px;
        }
      }

      .parralaxcardsimg2 {
        grid-area: span 1 / span 4 / span 1 / span 4;
        justify-self: center;
        max-width: 173px;

        .textblock {
          height: 307px;
        }
      }

      .parralaxcardsimg3 {
        grid-area: span 1 / span 4 / span 1 / span 4;
        place-self: center;
        max-width: 211px;

        .textblock {
          height: 115px;
        }
      }

      .parralaxcardsimg4 {
        grid-area: span 1 / span 3 / span 1 / span 3;
        place-self: center start;
        max-width: 139px;

        .textblock {
          height: 212px;
        }
      }

      .parralaxcardsimg5 {
        grid-area: span 1 / span 3 / span 1 / span 3;
        place-self: center start;
        max-width: 174px;
        position: relative;
        bottom: 60px;

        .textblock {
          height: 180px;
        }
      }

      .parralaxcardsimg6 {
        grid-area: span 1 / span 3 / span 1 / span 3;
        place-self: center;
        max-width: 133px;
        position: relative;
        bottom: 6px;

        .textblock {
          height: 174px;
        }
      }

      .parralaxcardsimg7 {
        grid-area: span 1 / span 3 / span 1 / span 3;
        place-self: start center;
        max-width: 127px;
        position: relative;
        bottom: 30px;

        .textblock {
          height: 127px;
        }
      }
    }

    .prompttooutputbottomgrdmain {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .prompttooutputbottomgrd {
        display: grid;
        grid-template-columns: 402px 1fr;
        gap: 8px;

        .grditemsleft {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .leftboxfirst {
            background-color: #eaeadb;
            border-radius: 18px;
            overflow: hidden;

            .boxheader {
              padding: 18px 15px;
              border-radius: 18px 18px 0 0;
              background-color: #f8ff9e;

              span {
                font-size: 24px;
                font-weight: 500;
                line-height: 100%;
                color: #252525;
              }
            }

            .boxbody {
              padding: 15px 15px 48px;

              p {
                font-size: 17px;
                font-weight: 500;
                line-height: 24px;
                color: #252525;
              }
            }
          }

          .leftboxsecond {
            // height: 147px;
            height: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .leftboxsecondbox {
              width: 100%;
              height: 0;
              overflow: hidden;
              // height: 100%;
              background-color: #fff;
              border-radius: 18px;
              display: flex;
              justify-content: center;
              align-items: center;

              span {
                font-size: 24px;
                font-weight: 500;
                line-height: 100%;
                color: #252525;
              }
            }
          }
        }

        .grditemsright {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;

          .rightboxfirst {
            width: 402px;
            // width: 100%;
            height: 100%;
            background-color: #eaeadb;
            border-radius: 18px;
            overflow: hidden;
            background-image: url("../../../../public/assets/images/outputimage.png");
            background-size: cover;

            .boxheader {
              padding: 18px 15px;
              border-radius: 18px 18px 0 0;
              background-color: #f8ff9e;

              span {
                font-size: 24px;
                font-weight: 500;
                line-height: 100%;
                color: #252525;
              }
            }

            // .boxbody {
            //   height: 327px;
            //   // height: 482px;

            //   img {
            //     width: 100%;
            //     height: 100%;
            //     object-position: bottom;
            //     object-fit: cover;
            //   }
            // }
          }
        }
      }
    }
  }
}