@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.aiugc {
    padding: 60px 0;
    position: relative;

    .topvec {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        img {
            display: block;
            width: 100%;
        }
    }

    .title {
        padding: 0 0 40px 0;

        @include respond-to("sm") {
            padding: 0 0 40px 0;
        }

        h2 {
            color: hsla(0, 0%, 32%, 1);
            text-align: center;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @include respond-to("md") {
                font-size: 32px;
                line-height: 42px;
            }

            @include respond-to("sm") {
                font-size: 28px;
                line-height: 42px;
            }
        }

        P {
            font-size: 20px;
            font-weight: 400;
            line-height: 100%;
            text-align: center;
            color: #515151;
            margin: 20px 0 0 0;

            @include respond-to("sm") {
                font-size: 14px;
                text-align: center;
                line-height: 20px;
            }
        }
    }

    .rightAlignment {
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
        bottom: 40px;
        gap: 5px;

        @include respond-to("xl") {
            bottom: 20px;
        }

        span {
            color: var(--Black, #515151);
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: block;
            position: relative;
            top: -1px;

            @include respond-to("xl") {
                font-size: 16px;
            }
        }

        img {
            display: block;

            @include respond-to("xl") {
                max-width: 80px;
            }
        }
    }

    .twovideo {
        display: flex;
        padding: 0 8%;
        justify-content: space-between;
        position: relative;

        @include respond-to("md") {
            padding: 0;
        }

        @include respond-to("md") {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        @include respond-to("sm") {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }


        .items {
            position: relative;
            width: 405px;
            border-radius: 22px;
            max-width: 405px;
            height: 680px;

            @include respond-to("md") {
                width: 100%;
                max-width: 100%;
            }

            .framer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border-radius: 22px;
                height: 100%;

                img {
                    border-radius: 22px;
                    width: 100%;
                    height: 100%;
                    display: block;
                }

            }

            video {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 22px;
                object-fit: cover;
            }
        }
    }
}