@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;

.industriesServiced {
  padding: 90px 0;

  .title {
    padding: 0 0 100px 0;

    h2 {
      background: var(
        --Gradient,
        linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      text-align: center;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      -webkit-text-fill-color: transparent;
    }

    P {
      font-size: 32px;
      font-weight: 400;
      line-height: 100%;
      text-align: center;
      color: #515151;
      margin: 20px 0 60px 0;
    }
  }

  .flexBox {
    .items {
      .image {
        img {
          display: block;
          border-radius: 12px;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}
