@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;

.aiGeneratedProduct {
  padding: 100px 0;
  position: relative;

  .bannerImage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    img {
      display: block;
      width: 100%;
    }
  }

  .title {
    padding: 0 0 100px 0;

    h2 {
      // background: var(
      //   --Gradient,
      //   linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%)
      // );
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      color: #515151;
      text-align: center;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      max-width: 1037px;
      margin: 0 auto 70px auto;
    }

    .bannerlistsmain {
      .bannerlists {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        .bannerlisticon {
          width: 46px;
          height: 38px;
        }

        p {
          font-size: 32px;
          font-weight: 400;
          line-height: 40px;
          color: #515151;
          text-align: center;
        }
      }
    }

    .simplelinemain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 956px;
      margin: 65px auto 0 auto;

      .simpleline {
        display: flex;
        align-items: center;
        gap: 15px;

        .listicon {
          width: 35px;
          height: 28px;
        }

        p {
          font-size: 22px;
          font-weight: 400;
          line-height: 22px;
          color: #515151;
        }
      }
    }

    .perfectline {
      margin: 65px 0;

      p {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
      }
    }

    .postdirectly {
      margin-top: 71px;

      p {
        color: #515151;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 30px 0;
        text-align: center;
      }

      .socialiconsmain {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
    }

    .btnflx {
      display: flex;
      justify-content: center;
      margin-top: 70px;

      .runbtnmain {
        background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
        border-radius: 14px;
        padding: 1px;
        transition: all 0.4s ease-in-out;

        &:hover {
          .runbtn {
            background: #fff;
            color: #515151;

            svg {
              path {
                fill: #515151;
              }
            }
          }
        }

        .runbtn {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          padding: 17px 25px;
          border-radius: 14px;
          border: none;
          background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
          outline: none;
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          line-height: 100%;
          text-align: center;
          transition: all 0.4s ease-in-out;

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }

      .alliconText {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        padding: 0 0 60px 0;

        .icontext {
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            display: block;
            color: var(--Black, #4a4a4a);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          img {
            max-width: 26px;
          }
        }
      }
    }
  }
}
