@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;

.helixblogsmain {
  padding: 100px 0 90px;

  .title {
    h1 {
      color: hsla(0, 0%, 32%, 1);
      margin: 0 0 60px;
      font-size: 50px;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .bloggrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 60px;
    padding: 0 24px;

    .griditems {
      background-color: #ffffff;
      border: 1px solid #e6e8ea;
      border-radius: 24px;
      padding: 15px 15px 20px;
      display: grid;
      grid-template-rows: 260px 1fr;
      gap: 20px;

      .cardimg {
        border-radius: 14px 14px 0 0;
        overflow: hidden;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .cardbody {
        .cardbodyflx {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          margin-bottom: 18px;

          .badgebtn {
            padding: 9px 10px;
            border-radius: 6px;
            background-color: #f0f0f0;
            border: none;
            outline: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #020817cc;
          }

          .calenderflx {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;
            color: #64748b;
          }
        }

        h3 {
          font-size: 18px;
          font-weight: 500;
          line-height: 28px;
          margin-bottom: 14px;
          color: #181818;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #64748b;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .btnflx {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .articlebtn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      padding: 11px 28px;
      border-radius: 99px;
      border: none;
      background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
      outline: none;
      color: #fff;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      text-align: center;
      transition: all 0.4s ease-in-out;
    }
  }
}