@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;

.industriesServiced {
  padding: 90px 0;

  @include respond-to("sm") {
    padding: 60px 0 0 0;
  }

  .title {
    padding: 0 0 100px 0;

    @include respond-to("sm") {
      padding: 0 0 40px 0;
    }

    h2 {
      color: hsla(0, 0%, 32%, 1);
      text-align: center;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @include respond-to("md") {
        font-size: 32px;
        line-height: 42px;
      }

      @include respond-to("sm") {
        font-size: 28px;
        line-height: 42px;
      }
    }

    P {
      font-size: 20px;
      font-weight: 400;
      line-height: 100%;
      text-align: center;
      color: #515151;
      margin: 20px 0 0 0;

      @include respond-to("sm") {
        font-size: 14px;
        text-align: center;
        line-height: 20px;
      }
    }
  }

  .flexBox {
    .items {
      .image {
        img {
          display: block;
          border-radius: 12px;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }

  .imagewrapperrelative {
    position: relative;

    @include respond-to("tab") {
      display: none;
    }

    .imagewrapperabsolute {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        width: auto;
        height: 100%;
        max-width: 100%;
        transition: 0.4s ease-in-out;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);

        &.active {
          opacity: 1;
        }
      }
    }

    .flex {
      padding: 88px 0 58px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      position: relative;
      z-index: 1;

      @include respond-to("md") {
        padding: 40px 0;
      }

      .flexitems {
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        gap: 63px;

        @include respond-to("md") {
          gap: 50px;
        }

        .itemleft,
        .itemright {
          display: flex;
          align-items: center;

          .btn {
            padding: 1px;
            border-radius: 99px;
            background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);

            button {
              padding: 11px 20px;
              border-radius: 99px;
              background: #fff;
              border: none;
              outline: none;
              cursor: pointer;
              font-size: 18px;
              font-weight: 500;
              line-height: 100%;
              text-align: center;
              color: #181818cc;
              transition: 0.4s ease-in-out;

              @include respond-to("md") {
                font-size: 14px;
              }
            }

            &.active,
            &:hover {
              button {
                background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
                color: #ffffffcc;
              }
            }
          }
        }

        .itemleft {
          justify-content: flex-start;
          margin-right: 100px;

          @include respond-to("md") {
            margin-right: 50px;
          }
        }

        .itemright {
          justify-content: flex-end;
          margin-left: 100px;

          @include respond-to("md") {
            margin-left: 50px;
          }
        }
      }
    }
  }

  .slidermobilemain {
    display: none;

    @include respond-to("tab") {
      display: block;
    }

    .sliderimagebox {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .imageSwiper {
        width: 100%;
        height: 100%;
      }

      img {
        width: auto;
        height: 556px;
        margin: 0 auto;
        display: block;

        @include respond-to("sm") {
          height: 350px;
        }
      }
    }

    .sliderpaginationbtnsflx {
      display: flex;
      align-items: center;
      gap: 20px;
      // overflow-x: scroll;
      // scrollbar-width: none;

      .mySwiper {
        width: 100%;
        padding: 10px 0;
      }

      .btnSlide {
        width: auto;
      }

      .btnmain {
        background: #fff;
        border-radius: 99px;
        padding: 1px;
        border: 1px solid #e0e0e0;
        transition: 0.3s ease-in-out;

        &.active {
          background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
          border-color: transparent;

          .btn {
            background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
            color: #fff;
          }
        }

        .btn {
          padding: 11px 24px;
          border-radius: 99px;
          background: #fff;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 16px;
          font-weight: 500;
          line-height: 100%;
          text-align: center;
          color: #181818cc;
          transition: 0.4s ease-in-out;
          white-space: nowrap;
        }
      }
    }
  }
}