@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.ugcTestimonial {
    padding: 0 0 100px 0;

    @include respond-to("md") {
        padding: 0 0 100px 0;
    }

    @include respond-to("sm") {
        padding: 0 0 20px 0;
    }

    h2 {
        color: var(--Black, #515151);
        text-align: center;
        font-size: 50px;
        margin: 0 0 50px 0;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include respond-to("sm") {
            font-size: 24px;
            line-height: 36px;
            margin: 0 0 30px 0;
        }
    }

    .videoGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        align-items: center;
        padding: 0 0 90px 0;

        @include respond-to("md") {
            padding: 0 0 60px 0;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @include respond-to("sm") {
            gap: 16px;
            padding: 0 0 30px 0;
        }

        .items {
            border-radius: 12px;
            position: relative;

            .onlyImage {
                border-radius: 12px;
                width: 100%;
                height: 533px;
                display: block;

                img {
                    border-radius: 12px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: block;
                }
            }

            .frame {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                img {
                    border-radius: 12px;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }

            video {
                display: block;
                height: 100%;
                width: 100%;
                border-radius: 12px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        align-items: center;
        padding: 0 0 90px 0;

        @include respond-to("md") {
            padding: 0 0 60px 0;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @include respond-to("sm") {
            gap: 16px;
            padding: 0 0 30px 0;
        }

        .fullCol {
            grid-column: span 2;

            .newgrid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;

                @include respond-to("sm") {
                    gap: 16px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .items {
            img {
                border-radius: 12px;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}