@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.ugcTestimonial {
    padding: 0 54px 100px 54px;

    @include respond-to("md") {
        padding: 0 20px 100px 20px;
    }

    @include respond-to("sm") {
        padding: 0 20px 20px 20px;
    }

    h2 {
        color: var(--Black, #515151);
        text-align: center;
        font-size: 50px;
        margin: 0 0 50px 0;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include respond-to("sm") {
            font-size: 24px;
            line-height: 36px;
            margin: 0 0 30px 0;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        align-items: center;
        padding: 0 0 90px 0;
        max-width: 1400px;
        margin: 0 auto;

        @include respond-to("md") {
            padding: 0 0 60px 0;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @include respond-to("sm") {
            gap: 16px;
            padding: 0 0 30px 0;
        }

        .fullCol {
            grid-column: span 2;

            .newgrid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;

                @include respond-to("sm") {
                    gap: 16px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .items {
            img {
                display: block;
                width: 100%;
                border-radius: 12px;
            }
        }
    }
}