@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;

.herobannermain {
  position: relative;
  background-color: #111213;
  height: 100dvh;
  overflow: hidden;

  .herobannerbg {
    position: absolute;
    top: 0;
    left: -100px;
    width: 100%;
    height: 100dvh;

    canvas {
      width: calc(100vw + 100px) !important;
    }
  }

  .herobanner {
    height: 100dvh;
    position: relative;

    .loginbutton {
      align-items: center;
      gap: 16px;
      display: flex;
      position: absolute;
      top: 20px;
      z-index: 9;
      right: 20px;

      button {
        color: #fff;
        cursor: pointer;
        background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
        border: none;
        border-radius: 99px;
        padding: 11px 28px;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        transition: all 0.3s;
      }
    }

    .bannerImage {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .spacing {
      padding: 153px 0 0 148px;
    }

    .centerText {
      width: 590px;
      position: relative;
      z-index: 9;

      p {
        color: #fff;
        font-size: 21px;
        font-style: normal;
        cursor: default;
        text-align: center;
        font-weight: 400;
        line-height: normal;
        margin: 30px 0 0 0;
      }
    }

    .centerLogo {
      display: flex;
      justify-content: flex-start;

      img {
        display: block;
        cursor: pointer;
        max-width: 281px;
      }
    }

    .keyframeAnimation {
      animation: bg-wave 5s ease-in-out infinite;
    }

    @keyframes bg-wave {
      0% {
        transform: translateY(0);
      }

      25% {
        transform: translateY(-10px);
      }

      50% {
        transform: translateY(0);
      }

      75% {
        transform: translateY(10px);
      }

      100% {
        transform: translateY(0);
      }
    }

    /* Responsive */
    @media (max-width: 1024px) {
      .spacing {
        padding: 250px 20px 0 20px;
      }
    }

    @media (max-width: 576px) {
      .centerText {
        width: 100%;

        p {
          font-size: 16px;
        }
      }

      .centerLogo {
        img {
          max-width: 210px;
        }
      }
    }
  }
}