@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;

.herobannermain {
  position: relative;
  background-image: url('/assets/images/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top bottom;
  height: 100dvh;
  overflow: hidden;

  @include respond-to("sm") {
    height: auto;
    padding: 0 0 40px 0;
  }

  .herobannerbg {
    position: absolute;
    top: 0;
    left: -100px;
    width: 100%;
    height: 100dvh;

    canvas {
      width: calc(100vw + 100px) !important;
    }
  }

  .herobanner {
    height: 100dvh;
    position: relative;

    @include respond-to("sm") {
      height: auto;
    }

    .loginbutton {
      align-items: center;
      gap: 16px;
      display: flex;
      position: absolute;
      top: 20px;
      z-index: 9;
      right: 20px;

      button {
        color: #fff;
        cursor: pointer;
        background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
        border: none;
        border-radius: 99px;
        padding: 11px 28px;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        transition: all 0.3s;
      }
    }

    .bannerImage {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .spacing {
      padding: 50px 0 0 50px;
    }

    .centerText {
      width: 590px;
      position: relative;
      z-index: 9;

      p {
        color: #252525;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 20px 0 0 0;
      }
    }

    .centerLogo {

      img {
        display: block;
        cursor: pointer;
        max-width: 300px;
      }
    }

    .keyframeAnimation {
      animation: bg-wave 5s ease-in-out infinite;
    }

    @keyframes bg-wave {
      0% {
        transform: translateY(0);
      }

      25% {
        transform: translateY(-10px);
      }

      50% {
        transform: translateY(0);
      }

      75% {
        transform: translateY(10px);
      }

      100% {
        transform: translateY(0);
      }
    }

    /* Responsive */
    @media (max-width: 1024px) {
      .spacing {
        padding: 250px 20px 0 20px;
      }
    }

    @media (max-width: 576px) {
      .spacing {
        padding: 80px 20px 0 20px;
      }
    }

    @media (max-width: 576px) {
      .centerText {
        width: 100%;

        p {
          font-size: 14px;
        }
      }

      .centerLogo {
        img {
          max-width: 210px;

          @include respond-to("sm") {
            max-width: 160px;
          }
        }
      }
    }
  }
}

.heroTextAlignment {
  padding: 120px 0 0 0;

  @include respond-to("xl") {
    padding: 80px 0 0 0;
  }

  @include respond-to("sm") {
    padding: 60px 20px 0 20px;
  }


  .first {
    h3 {
      color: var(--Black, #515151);
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      margin: 0 0 20px 0;
      line-height: normal;

      @include respond-to("sm") {
        font-size: 24px;
        line-height: 34px;
        margin: 0 0 14px 0;
      }
    }

    h4 {
      color: var(--Black, #515151);
      text-align: center;
      font-size: 30px;
      max-width: 1300px;
      font-style: normal;
      font-weight: 400;
      margin: 0 auto 40px auto;
      line-height: normal;

      @include respond-to("sm") {
        font-size: 16px;
        margin: 0 auto 20px auto;
        line-height: 24px;
      }
    }

    h5 {
      color: var(--Black, #515151);
      text-align: center;
      font-size: 22px;
      font-style: normal;
      margin: 0 0 20px 0;
      font-weight: 500;
      line-height: normal;

      @include respond-to("sm") {
        font-size: 16px;
        line-height: 24px;
      }
    }

    h6 {
      color: var(--Black, #515151);
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @include respond-to("sm") {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .allIconAlignment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 60px 0 0 0;

    @include respond-to("sm") {
      padding: 40px 0 0 0;
      overflow: auto;
      gap: 20px;
      scrollbar-width: none;
      justify-content: flex-start;
    }

    .iconText {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        display: block;
        color: var(--Black, #515151);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include respond-to("xl") {
          font-size: 18px;
        }

        @include respond-to("sm") {
          white-space: nowrap;
          font-size: 14px;
        }
      }

      img {
        max-width: 40px;
        display: block;

        @include respond-to("sm") {
          max-width: 30px;
        }
      }
    }
  }
}