@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.termsAndConditions {

    .btnright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3px 20px;

        .headerlogo {
            img {
                max-width: 120px;
                display: block;
                cursor: pointer;

                @include respond-to("sm") {
                    max-width: 100px;
                }
            }


        }

        button {
            color: #fff;
            cursor: pointer;
            background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
            border: none;
            border-radius: 99px;
            padding: 8px 20px;
            font-size: 12px;
            font-weight: 600;
            line-height: normal;
            transition: all 0.3s;
        }
    }

    .spacingAlignment {
        padding: 80px 0;

        .container {
            max-width: 1240px;
            margin: 0 auto;
            padding: 0 20px;
        }

        h1 {
            font-size: 40px;
            margin: 0 0 20px 0;
            color: #525252;
            font-weight: 600;
        }

        h2 {
            font-size: 24px;
            margin: 0 0 20px 0;
            color: #525252;
            font-weight: 600;
        }

        h6 {
            font-size: 18px;
            color: #000;
            margin: 0 0 20px 0;
            font-weight: 600;
        }

        ul {
            margin: 0;
            padding: 0 0 20px 15px;

            li {
                font-size: 16px;
                line-height: 24px;
                margin: 0 0 20px 0;
                color: #515151;
                font-weight: 500;

                span {
                    color: #121212;
                    font-weight: 600;
                }
            }
        }

        p {
            font-size: 16px;
            line-height: 24px;
            margin: 0 0 20px 0;
            color: #515151;
            font-weight: 500;

            span {
                color: #121212;
                font-weight: 600;
            }

            a {
                color: #121212;
                font-weight: 600;
            }
        }
    }
}