@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.adsCurrently {
    background: #333;
    padding: 100px 54px;

    @include respond-to("md") {
        padding: 100px 20px;
    }

    @include respond-to("sm") {
        padding: 60px 20px;
    }

    .text {
        padding: 0 0 60px 0;

        @include respond-to("sm") {
            padding: 0 0 40px 0;
        }

        h2 {
            color: #fff;
            text-align: center;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            margin: 0 0 16px 0;
            line-height: normal;

            @include respond-to("sm") {
                font-size: 24px;
                margin: 0 0 10px 0;
                line-height: 36px;
            }
        }

        p {
            color: #fff;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            opacity: .5;

            @include respond-to("sm") {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        max-width: 1400px;
        margin: 0 auto;

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            max-width: 100%;
        }

        @include respond-to("sm") {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        .griditems {
            img {
                width: 100%;
                display: block;
                border-radius: 12px;
            }
        }
    }

    .bottomText {
        padding: 40px 0 0 0;

        p {
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin: 0 0 10px 0;

            @include respond-to("sm") {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .iconsAlignment {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 14px;

            img {
                display: block;
            }
        }
    }
}