@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;

.aiGeneratedProduct {
  padding: 100px 0;
  position: relative;

  @include respond-to("sm") {
    padding: 60px 0;
  }

  .bannerImage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    img {
      display: block;
      width: 100%;
    }
  }

  .title {
    padding: 0 0 0 0;

    h2 {
      // background: var(
      //   --Gradient,
      //   linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%)
      // );
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      color: hsla(0, 0%, 32%, 1);
      text-align: center;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0 auto 60px auto;

      @include respond-to("md") {
        font-size: 32px;
        line-height: 42px;
      }

      @include respond-to("sm") {
        font-size: 28px;
        line-height: 38px;
        margin: 0 auto 40px auto;
      }
    }

    .bannerlistsmain {
      .bannerlists {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        .bannerlisticon {
          max-width: 30px;

          @include respond-to("md") {
            max-width: 22px;
          }

          @include respond-to("sm") {
            max-width: 20px;
          }
        }

        p {
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          color: #515151;
          text-align: center;

          @include respond-to("md") {
            font-size: 16px;
            line-height: 22px;
          }

          @include respond-to("sm") {
            font-size: 14px;
            text-align: left;
            line-height: 20px;
          }
        }
      }
    }

    .simplelinemain {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      max-width: 956px;
      margin: 50px auto 0 auto;

      @include respond-to("sm") {
        margin: 20px 0 0 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
      }

      .simpleline {
        display: flex;
        align-items: center;
        gap: 15px;

        .listicon {
          max-width: 20px;

          @include respond-to("sm") {
            max-width: 20px;
          }
        }

        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          color: #515151;

          @include respond-to("sm") {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }

    .perfectline {
      margin: 50px 0;

      @include respond-to("sm") {
        margin: 30px 0;
      }

      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: hsla(0, 0%, 32%, 1);
        text-align: center;

        @include respond-to("md") {
          font-size: 16px;
        }

        @include respond-to("sm") {
          font-size: 16px;
        }
      }
    }

    .postdirectly {
      margin-top: 60px;

      @include respond-to("md") {
        margin-top: 40px;
      }

      @include respond-to("sm") {
        margin-top: 30px;
      }

      p {
        color: hsla(0, 0%, 32%, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 20px 0;
        text-align: center;

        @include respond-to("sm") {
          font-size: 14px;
        }
      }

      .socialiconsmain {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        img {
          max-width: 35px;
          display: block;
          cursor: default;
        }
      }
    }

    .btnflx {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      .runbtn {
        cursor: default;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 11px 28px;
        border-radius: 99px;
        border: none;
        background: linear-gradient(90deg, #29a6b4 0%, #9ed2c3 100%);
        outline: none;
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        transition: all 0.3s;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .alliconText {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        padding: 0 0 60px 0;

        .icontext {
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            display: block;
            color: var(--Black, #4a4a4a);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          img {
            max-width: 26px;
          }
        }
      }
    }
  }
}